.section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  line-height: 26px;
  color: white;
  font-weight: 500;
}
